.container {
    display: grid;
    /* height: 600px; */
    /*rows is basically for the height of the grid */
    /* grid-template-rows: repeat(4,100px);  */

    /* column is basically for the width of the grid */
    /* grid-template-columns: repeat(auto-fit,minmax(100px, 1fr)); */

    /* grid-template-columns: var(--left , 87px) auto ; */
    grid-template-columns: 48px auto;
    /* justify-content: space-evenly;
    align-content:space-evenly ; */
    transition: 300ms;
    transition-delay: 200ms;

    /* justify-items: start;
    align-items: end; */


    /* these properties align the items in header and footer form */
    /* grid-template-areas: 
    'header header'
    'main aside'
    'footer footer'
    ; */

}

.container:has(.item-1:hover){
     grid-template-columns: 300px auto;
     
     /* --left : 67% */
}
.container:has(.item-2:hover){
    grid-template-columns: 60% auto;
}

/* .item-1{
    justify-self: center;
    align-self: stretch;
} */

/* .item-1{

    grid-area: header;
}

 .item-2 { 
    

    grid-area: main;
    
} 
.item-3{
   

    grid-area: aside;
}

.item-4{
    grid-area: footer;
} */

.container2{
    /* position:absolute; */
    box-shadow: rgba(0,0,0,0.403) 10px 10px 20px;
    border-radius: 2rem;
    padding: 2rem;
    margin: 5%;
    background: white;
    height:fit-content;
    width:fit-content;
}
.para{
  /* writing-mode: vertical-rl; */
  transform: rotate(45);
  
}
.btn{
    font-size: 2rem;
    margin:4%;
    padding: 0.5em 1em;
    font-weight: 700;
    background-color: blanchedalmond;
    color:whitesmoke;
    border : 10px solid blanchedalmond;
    border-radius: 10px;
    height:100px;
    width: 10%;


    transition: all 0.3s;
}
.btn:hover{
    transform: translateY(-10px);
    background-color: blueviolet;
    color:brown;
}

/* Utility classes  */
.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate.animate--fast{
    animation-duration: 0.6s;
}

.animate.animate--slow{
    animation-duration: 5s;
}

.animate.animate-delay-1s{
    animation-delay: 1s;
}

.animate.animate--infinite{
    animation-iteration-count: infinite;
}
@keyframes slideinleft {
    from{
        transform: translateX(-300px);
    }

    to{
        transform: translateX(0px);
    }
}
.slideinleft{

    animation: sliding 1s ease-in-out 1s 2 normal forwards;
    /* animation-fill-mode: backwards; */

    padding: 100px;
    margin:10%;
    font-size: 4rem;
    font-weight: 800;
    color: black;

    transform: translateX(-150px);
}

@keyframes slideinright {
    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(0px);
    }
}

.slideinright{
    animation-name: slideinright;
    animation-timing-function: ease-in;
}
@keyframes sliderotate {
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

.animate.slideinrotate{
    animation-name: sliderotate;
    animation-timing-function: linear;
}
/* .body{
    margin: 0;
    overflow: hidden;
} */
@keyframes carouselFrame{
    0% {
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(0%);
    }
}
.carouselSection{
    display: flex;
    justify-content: center; 
    align-items: center;
    /* transition: 0.8s; */
    /* transition: width 2s ease;  */
    /* overflow: hidden; */
    /* width: 100%;  */
    /* animation: carousel 5s infinite;  */
}
/* .carouselSlide{
    min-width: 100px;
    box-sizing: border-box;
    transition: transform 0.5s ease;

} */
.all{
    height:50vh;
    width: 30px;
    border-radius: 2rem;
    text-align: center;
    transition: 0.3s;
    opacity: 0.5;
    transition-duration: 1s;

}
.div1{
    /* height:50vh;
    min-width: 30px;
    border-radius: 2rem; */
    /* width: 30px; */
    background-color: #0000ff;

    /* text-align: center; */
    
}
.div2{
    /* height:50vh;
    min-width: 30px;
    border-radius: 2rem;
    text-align: center; */
    background-color: brown;
}
.div3{
    background-color: chocolate;
}
.div4{
    background-color: yellowgreen;
}
/* .div1:hover ,.div2:hover, .div3:hover , .div4:hover{
    width: 10%;
    opacity:1;
    z-index: 9999;
} */
/* .div2:hover{
    width:10%;
} */

.film{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    transform-style: preserve-3d;
    position:relative;
    perspective: 1000px;
}
.all2{
    height:50vh;
    width:20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: 0.3s;
}
.div5{
    background-color: #ce080821;
}
/* .div1:hover,.div2:hover, .div3:hover , .div4:hover,.div5:hover{
    height:60%;
    width:20%;
    filter: blur(2px);
} */
.all2:hover{
    height:60vh;
    width:20%;
}
.film:hover > .all2:not(:hover){
    filter: blur(2px);
}

.forbox{
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows: repeat(4,150px);
    grid-gap: 1em;
    justify-content: center;
    position: relative;
}
.box{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* color: var(--clr-light); */
    font-weight: 700;
    font-size: 1.25rem;
}
.item1{
    position:absolute;
    top: -50px;;
    right:-50px;
}
/* .item2{
    position: absolute;
    bottom:0;
    right:0;
} */

.skew{
    background-color: black;
    color:blanchedalmond;
    height: 50%;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:transform 0.8s;
    transition-property: all;
    /* perspective: 1000px; */
    /* position:relative; */
}
.skew:hover{
    /* transform:rotateX(60deg) rotateY(30deg) rotateZ(10deg); */
    transform:rotate(-30deg, -30deg) ;
    /* transform-style: preserve-3d;
    transform-origin: right bottom; */
    /* perspective: 100px; */
    /* height:70%;
    width:25%; */
    /* transform: matrix(1, -0.3, 0, 1, 0, 0); */
    /* transform:skew(10deg , 0deg); */
    /* background-color: aqua; */
    
}
@property --gradient{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes rotation{
    0% { --gradient: 0deg;}
    100% { --gradient: 360deg;}
}
body{
    min-height: 100vh;
    /* background: black; */
    display: grid;
    place-content: center;
}
.card{
    height:60vh;
    background: rgb(124, 52, 52);
    aspect-ratio: 1/1.5;
    border-radius: 0.5m;
    position: relative;
}

.card::before,
.card::after{
    content: "";
    position:absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient),
        #ec0d14,
        #a00d0d,
        #650407,
        #a00d0d,
        #ec0d14
    );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
}
.card::after{
    filter: blur(3.5rem);
}
.buttonSign{
    background: conic-gradient(
        from var(--gradient),
        #ec0d14,
        #a00d0d,
        #650407,
        #a00d0d,
        #ec0d14
    );
    padding: 50px;
    color:white;
    border-radius: 2rem;
    width:100%;
    margin-top: auto;
    transition: box-shadow 0.3s ease-in-out all;
}
.buttonSign:hover{
    /* border-color: aliceblue; */
    cursor: pointer;
    animation: rotation 20s linear infinite;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);;
    transform: translateY(-5px);
}
input[type="checkbox"]{
    height:200px;
    width:200px;
    top:50%;
    left:50%;
    -webkit-appearance: none;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
    position:absolute;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    border:20px solid #ececec;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input[type="checkbox"]::after{
    font-family: FontAwesome;
    content:"\f011";
    color:"#7a7a7a";
    font-size:70px;
}
input[type="checkbox"]:checked{
box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
10px 10px 15px rgba(70, 70, 70, 0.12),
inset -10px -10px 15px rgba(255, 255, 255, 0.5),
inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
input[type="checkbox"]:checked::after{
    color:#15e38a;
}
button{
    animation: wiggle 2s linear infinite;
}
@keyframes wiggle{
    0%, 7% {
        transform: rotateZ(0);
    }
    15%{
        transform: rotateZ(-15deg);
    }
    20%{
        transform: rotateZ(10deg);
    } 
    25%{
        transform: rotateZ(-10deg);
    }
    30%{
        transform: rotateZ(6deg);
    }
    35%{
        transform: rotateZ(-4deg);
    }
    40%, 100%{
        transform: rotateZ(0);
    }
}
button{
    position: absolute;
    left: calc(50% - 3em);
    top:calc(50% - 2em);
    height:4em;
    width:7em;
    background: #444;
    background: linear-gradient(top, #555, #333);
    border:none;
    border-top:3px solid orange;
    border-radius: 0 0 0.2em 0.2em;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
}

.loader{
    background-color:#ecf0f1;
    overflow:hidden;
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
}
.loader-element{
    border-radius:100%;
    border:5px solid #555;
    margin:calc((5px)*2);
}
.loader-element:nth-child(1){
    animation: preloader .6s ease-in-out alternate infinite;
}
.loader-element:nth-child(2){
    animation: preloader .6s ease-in-out alternate .2s infinite;
}
.loader-element:nth-child(3){
    animation: preloader .6s ease-in-out alternate .4s infinite;
}
@keyframes preloader{
    100%{
        transform: scale(2);
    }
}
